<a href="https://colab.research.google.com/github/spyingcyclops/gisma/blob/main/my_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Linear Regression
You should build a machine learning pipeline using a linear regression model. In particular, you should do the following:
- Load the `housing` dataset using [Pandas](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html). You can find this dataset in the datasets folder.
- Split the dataset into training and test sets using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html). 
- Train and test a linear regression model using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).
- Check the documentation to identify the most important hyperparameters, attributes, and methods of the model. Use them in practice.

## Importing libraries

In [ ]:
import pandas as pd # give it a shorter name
import sklearn.model_selection
import sklearn.linear_model
import sklearn.metrics

## Loading the Dataset

In [ ]:
# how do I load a dataset using Pandas? - google search finds pd.read_csv(fname)
# needs file location and name.
# df var, for data frame. head() prints the first 5 rows.

df = pd.read_csv("../../datasets/housing.csv")
# set the ID column as the index
df = df.set_index("id")
df.head()

,price,area,bedrooms,bathrooms,stories,stories.1,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
id,,,,,,,,,,,,,
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1.0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1.0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0.5
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1.0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1.0

## Split into train and test sets

In [ ]:
x = df.drop(["price"], axis=1)
y = df["price"]

x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y)

# shape returns the (no. rows, no. cols) to give you a quick view of the data fram

print("df:", df.shape) # whole dataset
print("x_train:", x_train.shape) # minus the col we removed
print("x_test:", x_test.shape)
print("y_train:", y_train.shape) # only one col
print("y_test:", y_test.shape)

df: (545, 13)
x_train: (408, 12)
x_test: (137, 12)
y_train: (408,)
y_test: (137,)

## Training a model

In [ ]:
model = sklearn.linear_model.LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

## Testing the trained model

In [ ]:
y_predicted = model.predict(x_test)

# next, we will used "mean squared error" to compare predicted valued with actual (test) values. Lower is better.

mse = sklearn.metrics.mean_squared_error(y_test, y_predicted)
mse

1222099641127.5662