<a href="https://colab.research.google.com/github/spyingcyclops/gisma/blob/main/my_naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Naive Bayes
You should build a machine learning pipeline using a naive bayes model. In particular, you should do the following:
- Load the `mnist` dataset using [Pandas](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html). You can find this dataset in the datasets folder.
- Split the dataset into training and test sets using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html). 
- Train and test a naive bayes model using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.GaussianNB.html).
- Check the documentation to identify the most important hyperparameters, attributes, and methods of the model. Use them in practice.

## Load Data

In [ ]:
import pandas as pd
import sklearn.model_selection
import sklearn.naive_bayes
import sklearn.metrics
import matplotlib.pyplot as plt

df = pd.read_csv("../../datasets/mnist.csv")
df = df.set_index("id") #making the id col our index, and removing it as a feature
df.head()

,class,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
id,,,,,,,,,,,,,,,,,,,,,
31953,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34452,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60897,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36953,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1981,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Split into Train and Test Data

In [ ]:
x = df.drop(["class"], axis=1) #remove col class
y = df["class"] #select the class col, as our target label

x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y)

print("df:", df.shape) 
print("x_train:", x_train.shape) 
print("x_test:", x_test.shape)
print("y_train:", y_train.shape) 
print("y_test:", y_test.shape)

df: (4000, 785)
x_train: (3000, 784)
x_test: (1000, 784)
y_train: (3000,)
y_test: (1000,)

## Train the model

In [ ]:
model = sklearn.naive_bayes.GaussianNB()
model.fit(x_train, y_train)

GaussianNB()

## Test the model

In [ ]:
# how to test a naive bayes model??

y_predicted = model.predict(x_test)
print(sklearn.metrics.accuracy_score(y_test, y_predicted))

0.65